<div class="create-block p-3 pos-r bg-color--white">
  <div class="create-block__title">
    <h3 class="h3 text--bold">
      Добавить Блок
    </h3>
  </div>
  <div class="create-block__body p-t-3">
    <mat-horizontal-stepper linear #stepper>
      <form [formGroup]="createFormGroup">
        <mat-step [stepControl]="createFormGroup.get('type')">
          <ng-template matStepLabel>Тип даных</ng-template>
          <div class="form-field">
            <p>Выбери тип данных:</p>
            <div class="form-field-select-wrap filter-type-input">
              <mat-select disableOptionCentering formControlName="type">
                <mat-option class="app-mat-option" *ngFor="let type of dataTypes" [value]="type.guid">
                  {{type?.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="m-t-3">
            <button mat-button class="button button--primary" matStepperNext
              [disabled]="createFormGroup.get('type').invalid">Далее</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="createFormGroup.get('format')">
          <ng-template matStepLabel>Формат представления</ng-template>
          <div class="form-field">
            <p>Выберите формат представления данных:</p>
            <div class="form-field-select-wrap filter-type-input">
              <mat-select disableOptionCentering formControlName="format">
                <mat-option class="app-mat-option" *ngFor="let format of dataFormats" [value]="format?.guid">
                  {{format?.name}}
                </mat-option>
              </mat-select>
            </div>
            <div class="form-field">
              <p>Выберите даты:</p>
              <div class="form-field-date-range">
                <app-date-picker-form-control formControlName="range"></app-date-picker-form-control>
              </div>
            </div>
          </div>
          <div class="m-t-3">
            <button mat-button class="button button--primary m-r-2" matStepperPrevious>Назад</button>
            <button mat-button class="button button--primary" matStepperNext
              [disabled]="createFormGroup.get('format').invalid || createFormGroup.get('range').invalid">Далее</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Готово</ng-template>
          <div>
            <p class="p text--bold m-y-2">
              Вы выбрали:
            </p>
            <p class="p m-t-2 m-b-1">
              1. {{findName('type', createFormGroup.get('type').value)}}
            </p>
            <p class="p m-y-1">
              2. {{findName('format', createFormGroup.get('format').value)}}
            </p>
            <p class="p m-y-1">
              3. {{createFormGroup.get('range').value?.startDate | date : 'shortDate' : null : 'ru'}} -
              {{createFormGroup.get('range').value?.endDate | date : 'shortDate' : null : 'ru'}}
            </p>
          </div>
          <div class="m-t-3">
            <button mat-button class="button button--primary m-r-2" matStepperPrevious>Назад</button>
            <button mat-button class="button button--accent" (click)="createBlock()">Создать</button>
          </div>
        </mat-step>
      </form>
    </mat-horizontal-stepper>
  </div>
  <button class="close-btn pos-a color--accent" mat-icon-button disableRipple (click)="closeModal()">
    <mat-icon size="1.5" [svgIcon]="'close'"></mat-icon>
  </button>
</div>
