@import "~src/variables&mixins.scss";

.create-block {
  width: 35rem;
  height: 25em;
  border-radius: 1rem;

  &__title {
    height: 2rem;
    @include flexContainer(row nowrap, center, center);
  }

  &__body {
    height: calc(100% - 2rem);
  }
}

::ng-deep .create-block .material-icons {
  font-family: "Material Icons";
}

.close-btn {
  top: 0.5rem;
  right: 0.5rem;
}
