@import "~src/variables&mixins.scss";

* {
  outline: none;
  font-family: NotoSans-Regular, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $mainWhite;
  @include breakpoint(tabletAndBelow) {
    font-size: 14px;
  }
  @include breakpoint(laptop) {
    font-size: 16px;
  }
  @include breakpoint(desktop) {
    font-size: 18px;
  }
  @include breakpoint(bigDesktop) {
    font-size: 24px;
  }
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  background-color: $mainWhite;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-overlay-backdrop.popover-backdrop-white {
  background-color: rgba(255, 255, 255, 0.8);
}

.cdk-overlay-backdrop.popover-backdrop-black {
  background-color: rgba(88, 88, 88, 0.4);
}
